.navbar {
  background: #58249c;
  padding: 20px;
  color: #fff;
}

.navbar nav {
  display: flex;
  align-items: center;
  max-width: 1600px;
  margin: 0 auto;
}

.navbar a.brand {
  margin-right: auto;
  color: #fff;
  text-decoration: none;
}

.navbar a:last-child {
  color: #fff;
  text-decoration: none;
  margin-left: 40px;
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 8px;
}

.navbar a:last-child:hover {
  color: #333;
  background: #fff;
}
